$main-color: #f57224;
$text-color: #999;
$bg-color:#fff;
$input-bg:rgb(243, 237, 248);

.navcont{


background-color: $bg-color;
height: 13vh;
width: 100vw;

.logo{
  
   flex:1;
   

    a{
       text-decoration: none;
       color: $main-color;
       font-size: 1.6rem;
    }
   
}

nav{
    display: flex;
    justify-content: space-between;
     align-items: center;
     padding: 0 50px;
     height: 100%;
      
}
.search{
    display: flex;
    cursor: pointer;
 
    align-items: center;
  flex: 4;
    background-color: $input-bg;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  padding: 0px 10px;


  input{
    outline: none;
    border: none;
    width: 90%;
    background-color: $input-bg;
    
  }


  .icon{
    background-color: $main-color;
    height: 100%;
    width: 50px;
    display: flex;
   justify-content: center;
   align-items: center;
padding: 10px;
border-radius: 10px;
  }
}

.addtocart{
    flex:1;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}

.advetrise{
    flex: 1;
  
}


}